<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iha.group2.dronecontrol" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InitActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="init" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".UDPconnection"
            android:enabled="true"
            android:exported="true" >
        </service>

        <provider
            android:name=".SQL_IP_Data_Base"
            android:authorities="com.example.group13.provider.IPs"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".ListIPs"
            android:label="@string/title_activity_list_ips"
            android:theme="@android:style/Theme.DeviceDefault.Light" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="landscape" >
        </activity>

        <service
            android:name=".UDP_Receiver"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".Streaming_camera"
            android:label="@string/title_activity_streaming_camera"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <service
            android:name=".Sensor_Data"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
